input{
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    border-radius: 10px;
    border: 1px  solid #ddd;
}

input:focus-visible {
    border: 1px solid  #888;
}

input:focus,
input:active {
    outline: none;
    border-color: #888;
    box-shadow: 0 0 5px rgba(136, 136, 136, 0.5); /* Adding a box shadow for better focus indication */
}

input:focus:not(:focus-visible),
input:active:not(:focus-visible) {
    border-color: #ddd; /* Reverting border color for browsers that don't support :focus-visible */
}